:root {
  --header-font-family: "Raleway", sans-serif;
  --font-family: "Roboto", sans-serif;
  --blue-color: #4d5ae5;
  --navy-blue-color: #2e2f42;
  --white-color: #ffffffff;
  --slate-color: #434455;
  --corn-flower: #e7e9fc;
  --cloud-color: #f4f4fd;
  --ocean-color: #404bbf;
  #8e8f99
}

/* Global style */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  color: #434455;
  background-color: var(--white-color);
  margin: 0 auto;
}

img {
  display: block;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

/* Classes */

.parent {
  display: flex;
  width: 1158px;
  padding: 25px 156px 25px 156px;
  border-bottom: 1px solid var(--corn-flower);
  background: var(--WHITE, #fff);
  height: 72px;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
}

.header-container {
  border-bottom: 1px solid #e7e9fc;
}

.nav-container {
  display: flex;
  align-items: center;
}

.nav-list-items {
  gap: 40px;
  margin-left: 36px;
}

.nav-list-items-address {
  gap: 40px;
  margin-left: 36px;
}

.address-header {
  font-style: normal;
  justify-content: space-between;
  display: flex;
  margin-left: 156px;
}

.link {
  text-decoration: none;
}

.title-web-name {
  color: var(--blue-color);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
}

.title-studio-name {
  color: var(--navy-blue-color);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.nav-link {
  color: var(--navy-blue-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.32px;
  padding: 24px 0 24px 0;
}

.list {
  list-style: none;
  display: flex;
}

.list-contact:hover,
.list-contact:focus {
  color: var(--blue-color);
}

.list-contact {
  color: var(--adress-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
  text-decoration: none;
  list-style: none;
}

.header-title {
  color: var(--white-color);
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 107.143%;
  letter-spacing: 1.12px;
  max-width: 496px;
  margin: 0 auto;
}

.order-service-button:hover,
.order-service-button:focus {
  background-color: #404bbf;
}
.order-service-button {
  color: var(--white-color);
  font-family: "Roboto", sans-serif;
  display: block;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.64px;
  cursor: pointer;
  background: var(--IRIS, #4d5ae5);
  padding: 16px 32px 16px 32px;
  height: 56px;
  border: none;
  min-width: 169px;
  margin: 48px auto;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.main-section {
  display: block;
  padding: 188px 0 188px;
  /* background-image: url(../images/people-office.jpg);
  background: 
  lightgray 0px -167.766px / 100% 139.922% no-repeat; */

  background-repeat: no-repeat;
  background-size: cover;
}

.list-element > .svg-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.svg-weight {
  width: 64px;
  height: 64px;
}

.section-two {
  display: block;
  padding: 120px 0 120px;
}

.list-our-us-content {
  gap: 24px;
}

.title-proposition-name {
  color: var(--navy-blue-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.list-element {
  width: calc((100% - 3 * 24px) / 4);
}

.our-team-section {
  background: var(--cloud-color);
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-us {
  color: var(--slate-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
}

.section-tree-photo {
  display: block;
  /* padding-right: 156px;
  padding-left: 156px; */
  padding-bottom: 120px;
}

.what-are-we-doing-our-team {
  color: var(--navy-blue-color);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.image-our-team-jobs-content {
  gap: 24px;
}

.images-we-doing {
  border: 1px solid var(--corn-flower);
}

.list-image-we-doing {
  flex-basis: calc((100% - 3 * 16px) / 3);
}

.our-team-section {
  padding: 120px 0 120px;
}

.box-shadow {
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  flex-direction: column;
  justify-content: center;
  width: calc((100% - 3 * 24px) / 4);
}

.list-out-team-section {
  gap: 24px;
}

.our-team-pictures {
  background-color: #ffffffff;
  flex-basis: calc((100% - 72px) / 4);
}

.container-section-four {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 32px 0 32px;
}

.our-team-names {
  gap: 8px;
  background-color: #ffffffff;
}

.title {
  background-color: #ffffffff;
}

.our-team-profesion {
  color: var(--slate-color);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
  background-color: #ffffffff;
}

.blue-circle:focus,
.blue-circle:hover {
  background-color: #31D0AA;
}

.blue-circle {
  width: 40px;
  height: 40px;
  background-color: var(--blue-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons-size-sociallinks {
  width: 16px;
  height: 16px;
}

.social-media-parent {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.color {
  background: #e7e9fc;
}

.icons-app {
  color: var(--cloud-color);
}

.customers-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 120px 0 120px;
}

.customers-title {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.custemers-child {
  display: flex;
  gap: 24px;
}
/* 
.logo-section:hover,
.logo-section:focus {
  color: var(--ocean-color);
} */

.logo-section {
  width: 168px;
  height: 88px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  display: flex;
  align-items: center;
  justify-content: center;

}

.icons-size-bott:focus,:hover {
  fill: var(--blue-color);
}

.icons-size-bott {
  width: 104px;
  height: 56px;
  fill: #8e8f99;
 
}

.footer-paragraf {
  color: var(--cloud-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
}

.title-web-name-footer {
  color: var(--blue-color);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.title-studio-name-footer {
  color: var(--cloud-color);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-color {
  display: flex;
  padding: 100px 0 100px;
  background: var(--navy-blue-color);
  flex-direction: column;
  justify-content: center;
}

/* Portfolio page */

.projects {
  padding-top: 96px;
  padding-bottom: 120px;
}

.navigation-button:hover,
.navigation-button:focus {
  color: #ffffffff;
  background-color: var(--ocean-color);
  border: 1px solid transparent;
}
.navigation-button {
  color: var(--blue-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.64px;
  cursor: pointer;
  background-color: var(--cloud-color);
  font-family: "Roboto", sans-serif;
  display: flex;
  padding: 12px 24px;
  border: 1px solid var(--corn-flower);
  align-items: flex-start;
  border-radius: 4px;
  /* background: var(--OCEAN, #404bbf); */
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.navigation-gab-button {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
  flex-direction: row;
  padding: 0;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.images {
  display: block;
  max-width: 100%;
}

.images-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}

.first-list-pictures {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding: 0;
  justify-content: center;
}

.box-shadow-pictutes {
  width: calc((100% - 48px) / 3);
  text-decoration: none;
}

.title-styling-images {
  display: flex;
  padding: 0px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  margin-bottom: 8px;
}

.images-what-we-make {
  background: url(<path-to-image>),
    lightgray -25.026px 0px / 125% 100% no-repeat;
  max-width: 100%;
}

.images-title {
  color: var(--navy-blue-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
}

.title-images-profesion {
  color: var(--slate-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
}

.title-studio-name-footer {
  color: var(--cloud-color);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.title-web-name-footer {
  color: var(--blue-color);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.title-studio-name-footer {
  color: var(--cloud-color);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.footer-paragraf {
  color: var(--cloud-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
}

.footer-color {
  background: var(--navy-blue-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
